* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.main {
  background-color: orange;

  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn.btn-dark {
    position: absolute;

    top: 0;
    right: 0;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    padding: 0;

    background-color: green;
    color: white;

    margin-top: 15px;
    margin-right: 15px;

    svg {
      height: 100%;
      stroke: white;
    }
  }
}

.content {
  position: relative;
  height: 100vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // border: 2px solid red;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50vw;

  // border: 2px solid green;

  input {
    height: 50px;
    margin-bottom: 25px;
  }
  input:last-child {
    margin-bottom: 0;
  }
}

div.checkbox {
  align-self: flex-end;
  flex-direction: row;

  height: fit-content;

  // border: 2px solid blue;

  text-align: right;

  margin-top: 25px;

  input {
    padding: 10px;
  }
  label {
    text-align: right;
    // border: 2px solid blue;
  }
}

div.button {
  margin-top: 50px;
  width: 100%;
  text-align: center;

  button {
    display: inline-block;
    width: 50%;
    height: 50px;

    background-color: green;
    color: white;

    text-transform: uppercase;
  }
}

h2 {
  color: green;
}
