@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.bulletPoints {
  grid-area: bulletPoints;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.8fr 0.2fr 0.2fr;
      grid-template-rows: 0.8fr 0.2fr 0.2fr;
      grid-template-areas: "ul" "img"	 "span";
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, grey), color-stop(80%, #c7c2c2));
  background: linear-gradient(180deg, grey 20%, #c7c2c2 80%);
  border-radius: 25px;
}

.bulletPoints ul {
  display: block;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ul;
  font-size: 100%;
  font-family: "Nunito Sans", sans-serif;
  color: black;
}

.bulletPoints .image2 {
  width: 100%;
}

.bulletPoints .image2 img {
  width: 22vw;
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}

.bulletPoints span {
  font-size: 40px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: black;
}

.headline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "logo h1 languags";
  background-color: grey;
  border-radius: 25px;
  grid-area: headline;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline .logo {
  width: 6vw;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.headline .logo img {
  width: 100%;
}

.headline .languags {
  width: 6.5vw;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: languags;
}

.headline .languags img {
  width: 100%;
  -webkit-transform: translateX(400%);
          transform: translateX(400%);
}

.headline h1 {
  width: 100%;
  font-size: 200%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: h1;
  font-family: "Bebas Neue", cursive;
  color: white;
}

.donate {
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, grey), color-stop(80%, #c7c2c2));
  background: linear-gradient(180deg, grey 20%, #c7c2c2 80%);
  grid-area: donate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5px;
}

.donate .radioContainer {
  position: relative;
}

.donate .ico img {
  width: 50px;
}

.donate input[type="radio"] {
  visibility: hidden;
  height: 75px;
}

.donate input[type="radio"] + label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.donate input[type="radio"]:checked ~ .ico {
  display: block;
}

.donate input[type="radio"] ~ .ico {
  display: none;
  position: absolute;
  right: 20px;
  top: 5px;
}

.donate h3 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: black;
}

.donate .donationOption:hover .donationAmount {
  background-color: #f4f666;
}

.donate .donationOption:hover .donationText {
  background-color: #6b5f5f;
  color: white;
}

.donate .donationOption:active {
  border: 2px solid red;
}

.donate .donationOption {
  height: 75px;
  background-color: grey;
  cursor: pointer;
  border-radius: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(50px, auto) 1fr;
      grid-template-columns: minmax(50px, auto) 1fr;
  -ms-grid-rows: 75px;
      grid-template-rows: 75px;
      grid-template-areas: "donationAmount donationText";
  font-family: 'Nunito Sans', sans-serif;
}

.donate .donationOption .donationAmount {
  background-color: #e5e90d;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: donationAmount;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donate .donationOption .donationAmount.input {
  padding-left: 10px;
  padding-right: 10px;
}

.donate .donationOption .donationAmount.input input {
  margin-left: 5px;
  width: 70px;
  height: 20px;
  font-size: 15px;
}

.donate .donationOption .donationText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: 'Nunito Sans', sans-serif;
  color: black;
  background-color: #b6adad;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: donationText;
}

.footerBar {
  background-color: aqua;
  grid-area: footerBar;
}

.heroShot {
  background-color: black;
  grid-area: heroShot;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1.2fr 0.5fr;
      grid-template-columns: 1fr 2fr 1.2fr 0.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "img firstSpan secondSpan fthoDiv";
  gap: 10px;
}

.heroShot .image {
  width: 100%;
}

.heroShot .image img {
  border-radius: 25px;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
}

.heroShot .firstSpan {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: firstSpan;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "firstoSpan" "secondoSpan" "thirdoSpan";
  gap: 100px;
}

.heroShot .firstSpan .firstoSpan {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: firstoSpan;
  color: white;
  font-size: 30px;
  font-family: "Nunito Sans", sans-serif;
  border-radius: 25px;
  text-align: center;
  background-color: grey;
}

.heroShot .firstSpan .secondoSpan {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: secondoSpan;
  color: white;
  font-size: 30px;
  font-family: "Nunito Sans", sans-serif;
  border-radius: 25px;
  text-align: center;
  background: grey;
}

.heroShot .firstSpan .thirdoSpan {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: thirdoSpan;
  color: white;
  font-size: 30px;
  font-family: "Nunito Sans", sans-serif;
  border-radius: 25px;
  text-align: center;
  background-color: grey;
}

.heroShot .secondSpan {
  background: grey;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: secondSpan;
  border-radius: 25px;
}

.heroShot .secondSpan span {
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
  color: white;
}

.heroShot .secondSpan p {
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  color: white;
}

.heroShot .fthoDiv {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: fthoDiv;
  background-color: grey;
  border-radius: 25px;
}

.footerBar {
  grid-area: footerBar;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "companyLogo link";
  background-color: #c7c2c2;
  border-radius: 25px;
}

.footerBar .companyLogo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: companyLogo;
}

.footerBar .companyLogo img {
  padding: 0 0 0 10px;
  width: 2.5vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footerBar .link {
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: link;
  text-align: right;
}

.footerBar .link a:link {
  text-decoration: none;
}

.footerBar .link a:visited {
  color: black;
}

@media screen and (max-width: 700px) {
  .frame {
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 2.5fr 3fr 1fr;
        grid-template-rows: 1fr 2fr 2.5fr 3fr 1fr;
        grid-template-areas: "headline" "heroShot" "donate" "bulletPoints" "footerBar";
    gap: 10px;
  }
  .frame .heroShot {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: heroShot;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "img" "firstSpan"  "secondSpan";
  }
}

@media screen and (min-width: 701px) {
  .frame {
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 3fr 6fr 1fr;
        grid-template-rows: 1fr 3fr 6fr 1fr;
        grid-template-areas: "headline headline" "heroShot heroShot" "bulletPoints donate" "footerBar footerBar";
    gap: 10px;
  }
}

body {
  margin: 0;
  background-color: black;
}
/*# sourceMappingURL=style.css.map */